<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dagelan - About us</title>

    <!-- css bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- css bootstrap -->

    <!-- hover master css -->
    <link rel="stylesheet" href="./style/hover.css">
    <!-- hover master css -->

    <!-- font nunito -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;800&display=swap" rel="stylesheet">
    <!-- font nunito -->

    <link rel="icon" href="./assets/logo-main.png" type="image/gif" sizes="20x20">

    <link rel="stylesheet" href="./style/style.css">

</head>

<body>

    <header class="pt-0 pt-md-2">
        <div class="navigasi">
            <nav class="navbar navbar-expand-lg container">
                <a class="navbar-brand order-2 order-lg-1 m-auto d-flex justify-content-center justify-content-lg-start"
                    href="index.html">
                    <img src="./assets/logo.png" alt="logo" class="logo">
                </a>
                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <img src="./assets/menu.png" alt="" width="24px" height="24px">
                    </span>
                </button>
                <div class="collapse navbar-collapse order-md-2" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link f-s-18 c-brown txt-decoration-none hvr-brown font-weight-bold"
                                href="index.html">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link f-s-18 c-brown txt-decoration-none hvr-brown font-weight-bold"
                                href="about.html">About</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link f-s-18 c-brown txt-decoration-none hvr-brown font-weight-bold"
                                href="portfolio.html">Portfolio</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link f-s-18 c-brown txt-decoration-none hvr-brown font-weight-bold"
                                href="partner.html">Colaborative Partner</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link f-s-18 c-brown txt-decoration-none hvr-brown font-weight-bold"
                                href="contact.html">Contact</a>
                        </li>
                        <select class="f-s-18 c-white font-weight-bold b-brown rounded-circle border-none option-lang"
                            data-width="fit">
                            <option data-content='English'
                                class="c-white font-weight-bold f-s-18 b-yellow lang-content">EN</option>
                            <option data-content='Indonesia'
                                class="c-white font-weight-bold f-s-18 b-yellow lang-content">ID</option>
                        </select>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main class="main-top-about position-relative">

        <div class="header-title m-auto">
            <h1 class="c-darker-c fs-64 text-center pb-2 m-auto pt-70 font-weight-bold">
                Dagelan percaya kebahagiaan itu untuk dibagikan
            </h1>
        </div>

        <div class="rotate-group d-flex position-relative">
            <div class="rotate-wrap-left position-absolute l-0">
                <img src="./assets/background/spinner.svg" alt=""
                    class="rotate rotate-left w-100 z-1 d-md-block d-none">
            </div>
            <div class="rotate-wrap-right position-absolute r-0">
                <img src="./assets/background/spinner.svg" alt=""
                    class="rotate rotate-right w-100 z-1 d-md-block d-none">
            </div>
        </div>

        <img src="./assets//background/back-top-pink.svg" alt="" class="w-100 b-transparent z-99 position-relative">
        <div class="b-pink pb-5 z-2 position-relative z-99 top-content-about">
            <div class="container d-flex mt-150 row m-auto">
                <div class="main-top-about-left tex-center d-flex justify-content-center mt-50 col-md-6">
                    <img src="./assets/background/back-top-about.svg" alt=""
                        class="image-main-top-about-left w-75 d-none d-md-block">
                </div>
                <div class="main-top-about-right d-block align-self-end col-md-6">
                    <h4 class="c-dark fs-32 font-weight-bold l-h-4">
                        Awal mula Dagelan
                    </h4>
                    <p class="c-dark f-s-24 font-weight-bold mt-60 mb-2 l-h-4">
                        Berdiri sejak 2014, Dagelan fokus untuk mengkurasi dan mengembangkan konten penuh kebahagiaan
                        untuk dibagikan
                    </p>
                    <p class="f-s-18">
                        Dagelan adalah bagian dari infia Group sebagai pionir dari perusahaan berbasis penyiaran dan
                        aggregator konten digital Indonesia
                    </p>
                </div>
            </div>
        </div>
    </main>

    <img src="./assets/back-top-about.svg" alt="" class="w-100 b-pink">
    <main class="main-middle-about b-linear-orange-long mt-0 pt-0 position-relative">
        <div class="container-fluid pt-60 pb-100 d-block row m-auto d-md-flex d-block">
            <div class="d-block">
                <img src="./assets/about-back-elipse.png" alt="" class="position-absolute back-about-vision l-0">
                <div class="main-middle-about-left col-md-6">
                    <h1 class="fs-48 c-black font-weight-bold mb-40">
                        Visi
                    </h1>
                    <p class="c-black fs-24 font-weight-bold w-md-75 w-100">
                        Menjadi pelopor media Informasi yang tersebar diseluruh penjuru negeri dengan memberikan
                        entertainment yang masih “fresh from the oven”
                    </p>
                </div>
                <div class="main-middle-about-right col-md-6 mt-100">
                    <h1 class="fs-48 c-black font-weight-bold mb-40">
                        Misi
                    </h1>
                    <ul class="c-black fs-24 font-weight-bold w-md-75 w-100">
                        <li class="">Memperluas cabang Dagelan ke setiap daerah</li>
                        <li class="mt-3">Terus memberikan informasi dan hiburan yang up to date</li>
                        <li class="mt-3">Mengajak kerjasama para konten kreator</li>
                    </ul>
                </div>
            </div>
            <div class="image-content-about">
                <img src="" alt="">
            </div>
        </div>

        <div class="card-follower container m-auto pt-5 pb-100">
            <div class="image-follower-group text-center">
                <img src="./assets/background/back-follow.svg" alt="follower group image" class="image-follower">
            </div>
            <div class="card-follower-sosmed row b-white">
                <div class="card-sosmed p-5 d-block col-6 text-center border-bottom border-side">
                    <span
                        class="c-orange f-s-96 font-weight-bold fs-500-24 fs-700-48 text-center justify-content-center d-flex">17.7M</span>
                    <p class="f-s-24 fs-500-16 c-darker">Instagram Followers</p>
                </div>
                <div class="card-sosmed p-5 d-block col-6 text-center border-bottom">
                    <span
                        class="c-orange f-s-96 font-weight-bold fs-500-24 fs-700-48 justify-content-center d-flex">858.044</span>
                    <p class="f-s-24 fs-500-16 c-darker">Facebook Page Followers</p>
                </div>
                <div class="card-sosmed p-5 d-block col-6 text-center border-side">
                    <span
                        class="c-orange f-s-96 font-weight-bold fs-500-24 fs-700-48 justify-content-center d-flex">51.925</span>
                    <p class="f-s-24 fs-500-16 c-darker">Instagram Post</p>
                </div>
                <div class="card-sosmed p-5 d-block col-6 text-center">
                    <span
                        class="c-orange f-s-96 font-weight-bold fs-500-24 fs-700-48 justify-content-center d-flex">780.251</span>
                    <p class="f-s-24 fs-500-16 c-darker">Facebook Page Likes</p>
                </div>
            </div>
        </div>
        <img src="./assets/back-bottom.svg" alt="" class="w-100 b-white">
    </main>

    <main class="main-bottom-about z-99 position-relative b-white">
        <div class="partner-about position-relative">
            <h3 class="txt-shoping-title f-s-48 font-weight-bold fs-500-24 c-dark pt-5 text-center position-relative">
                Colaborative Partner
            </h3>
            <div class="card-product-group row w-90 pt-70 pb-5 d-flex m-auto d-flex justify-content-center">
                <a href="/detail-partner.html" class="card card-product hvr-bob col-md-3">
                    <img class="card-img-top m-auto d-flex justify-content-center pt-4 w-50" src="./assets/colab1.png"
                        alt="image product">
                    <div class="card-body b-pink w-90 h-100 mt-1 br-top-90 position-relative pb-60">
                        <h3 class="f-s-24 font-weight-bold text-center partner-name position-absolute c-dark">
                            hai.dudu
                        </h3>
                    </div>
                </a>
                <a href="/detail-partner.html" class="card card-product hvr-bob-1 col-md-3">
                    <img class="card-img-top m-auto d-flex justify-content-center pt-4 w-50" src="./assets/colab2.png"
                        alt="image product">
                    <div class="card-body b-pink w-90 h-100 mt-1 br-top-90 position-relative pb-60">
                        <h3 class="f-s-24 font-weight-bold text-center partner-name position-absolute c-dark">
                            tahilalats
                        </h3>
                    </div>
                </a>
                <a href="/detail-partner.html" class="card card-product hvr-bob col-md-3">
                    <img class="card-img-top m-auto d-flex justify-content-center pt-4 w-50" src="./assets/colab3.png"
                        alt="image product">
                    <div class="card-body b-pink w-90 h-100 mt-1 br-top-90 position-relative pb-60">
                        <h3 class="f-s-24 font-weight-bold text-center partner-name position-absolute c-dark">
                            volix.media
                        </h3>
                    </div>
                </a>
                <a href="/detail-partner.html" class="card card-product hvr-bob-1 col-md-3">
                    <img class="card-img-top m-auto d-flex justify-content-center pt-4 w-50" src="./assets/colab4.png"
                        alt="image product">
                    <div class="card-body b-pink w-90 h-100 mt-1 br-top-90 position-relative pb-60">
                        <h3 class="f-s-24 font-weight-bold text-center partner-name position-absolute c-dark">
                            dalang.pelo
                        </h3>
                    </div>
                </a>
            </div>
            <div class="more-produk text-center pb-5 z-99 position-relative">
                <a href="/partner.html" class="btn-more-produk f-s-16 font-weight-bold b-yellow c-brown z-99">
                    Lihat Semua Partner
                </a>
            </div>
        </div>

        <div
            class="main-bottom-content main-bottom-content-about pt-5 pb-md-0 mt-150 pb-5 w-90 b-linear-brown position-relative">

            <img src="./assets/background/back-project-left.svg" alt=""
                class="h-100 position-absolute l-0 back-portfolio t-0 d-md-block d-none">
            <img src="./assets/background/back-project-right.svg" alt=""
                class="h-100 position-absolute r-0 t-0 d-md-block d-none back-portfolio">

            <h3
                class="content-bottom f-s-48 font-weight-bold text-white text-center w-md-50 m-auto fs-500-24 z-99 position-relative">
                Apa aja sih yang pernah <br>
                dikerjain Dagelan ?
            </h3>
            <div class="card-artikel-group mt-md-0 mt-5">
                <div class="card-artikel-main d-block d-md-flex justify-content-center">
                    <a href="./detail-portfolio.html" class="card-artikel-2 mt-2 mt-md-0 hvr-wobble-vertical">
                        <div class="card card-artikel">
                            <img class="card-img-artikel m-auto h-100" src="./assets/project-1.png" alt="image product">
                            <div class="card-body body-project position-absolute b-0 w-100">
                                <h4 class="font-weight-bold f-s-36 c-white">
                                    Lifebuoy
                                </h4>
                                <p class="f-s-18 c-white">
                                    Content Development & Design
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="./detail-portfolio.html" class="card-artikel-2 pt-md-0 pt-3 hvr-wobble-vertical">
                        <div class="card card-artikel">
                            <img class="card-img-artikel m-auto h-100" src="./assets/project-2.png" alt="image product">
                            <div class="card-body body-project position-absolute b-0 w-100">
                                <h4 class="font-weight-bold f-s-36 c-white">
                                    Lifebuoy
                                </h4>
                                <p class="f-s-18 c-white">
                                    Content Development & Design
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="./detail-portfolio.html" class="card-artikel-3 hvr-wobble-vertical pt-md-0 pt-3">
                        <div class="card card-artikel position-relative">
                            <img class="card-img-artikel m-auto h-100" src="./assets/project-3.png" alt="image product">
                            <div class="card-body body-project position-absolute b-0 w-100">
                                <h4 class="font-weight-bold f-s-36 c-white">
                                    Lifebuoy
                                </h4>
                                <p class="f-s-18 c-white">
                                    Content Development & Design
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="btn-more-artikel mt-5 text-center">
                <a href="portfolio.html"
                    class="btn-find-more-artikel b-yellow text-center f-s-16 c-brown font-weight-bold text-decoration-none">
                    Lihat Semua Portfolio
                </a>
            </div>
        </div>
    </main>

    <footer class="b-brown position-relative">

        <div class="background-footer-about pill-9">
            <img src="./assets/background/pill-7.svg" alt="background"
                class="position-absolute background-footer pil-9 r-0">
        </div>

        <div class="footer-content container d-block d-lg-flex row m-auto">
            <div class="image-footer-content-about col-12 col-lg-6 align-self-center z-99">
                <img src="./assets/background/back-footer.svg" class="w-100" alt="image footer">
            </div>

            <div class="contact-about col-12 col-lg-6 align-self-center z-99 mt-md-5 mt-0">
                <h3
                    class="txt-footer-content text-white f-s-48 fs-500-24 font-weight-bold w-100 col-12 col-lg-10 m-auto">
                    Masih Kepo? <br>
                    Hubungi Kami
                </h3>
                <form class="pt-5 col-12 col-lg-10 m-auto">
                    <div class="form-row">
                        <div class="form-group col-12 col-lg-6">
                            <input type="text" class="form-control" id="inputEmail4" placeholder="Nama">
                        </div>
                        <div class="form-group col-12 col-lg-6">
                            <input type="Email" class="form-control" id="inputPassword4" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="inputAddress" placeholder="Perusahaan">
                    </div>
                    <div class="form-group">
                        <select id="inputState" class="form-control">
                            <option selected>
                                Topik
                            </option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Tuliskan pesan" id="exampleFormControlTextarea1"
                            rows="5"></textarea>
                    </div>
                    <div class="btn-submit-group d-flex justify-content-end">
                        <button type="submit" class="btn btn-submit b-yellow c-brown font-weight-bold">
                            Kirim
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="container d-block d-lg-flex footer-top row m-auto">
            <div class="logo-group col-12 col-lg-3 d-flex justify-content-center justify-content-lg-start">
                <img src="./assets/image-7.png" alt="logo footer">
            </div>

            <div class="navigation-footer col-12 col-lg-7 text-center mt-5 mt-lg-0">
                <ul class="d-block d-lg-flex h-100 align-items-center justify-content-center g-50">
                    <li class="list-unstyled">
                        <a href="index.html" class="text-decoration-none f-s-16 font-weight-bold text-white">Home</a>
                    </li>
                    <li class="list-unstyled mt-3 mt-lg-0">
                        <a href="portfolio.html"
                            class="text-decoration-none f-s-16 font-weight-bold text-white">Portfolio</a>
                    </li>
                    <li class="list-unstyled mt-3 mt-lg-0">
                        <a href="partner.html"
                            class="text-decoration-none f-s-16 font-weight-bold text-white">Colaborative Partner</a>
                    </li>
                    <li class="list-unstyled mt-3 mt-lg-0">
                        <a href="contact.html"
                            class="text-decoration-none f-s-16 font-weight-bold text-white">Contact</a>
                    </li>
                </ul>
            </div>

            <div
                class="sosial-media-footer justify-content-center col align-self-center justify-content-lg-end d-flex mt-5 mt-lg-0">
                <a href="https://www.facebook.com/dagelan.co/" target="_blank"
                    class="btn soc-med rounded-circle b-yellow d-flex justify-content-center align-items-center">
                    <img src="./assets/facebook.png" alt="facebook icon" width="24px">
                </a>
                <a href="https://www.instagram.com/dagelan/" target="_blank"
                    class="btn soc-med rounded-circle b-yellow d-flex justify-content-center align-items-center">
                    <img src="./assets/instagram.png" alt="instagram icon" width="24px">
                </a>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="text-center f-s-14 text-white pt-3 pb-3 mb-0">
                Copyright &copy 2021 PT. Infia Media Pratama. All Rights Reserved.
            </p>
        </div>
    </footer>

    <!-- script bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <!-- script bootstrap -->
    <script src="./script/script.js"></script>

</body>

</html>