<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Dagelan</title>

    <!-- css bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- css bootstrap -->

    <!-- hover master css -->
    <link rel="stylesheet" href="./style/hover.css">
    <!-- hover master css -->

    <!-- font nunito -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;800&display=swap" rel="stylesheet">
    <!-- font nunito -->

    <link rel="icon" href="./assets/logo-main.png" type="image/gif" sizes="20x20">

    <link rel="stylesheet" href="./style/style.css">

</head>

<body>


    <div class="rotate-group d-flex position-relative z-99">
        <div class="rotate-wrap-left-partner rotate-wrap-left-contact position-absolute l-0">
            <img src="./assets/background/spinner.svg" alt="" class="rotate rotate-left w-100 z-1">
        </div>
    </div>

    <div class="navigasi b-linear-yellow-white b-700-white pt-md-2 pt-0 z-99 position-relative">
        <nav class="navbar navbar-expand-lg container">
            <a class="navbar-brand order-2 order-lg-1 m-auto d-flex justify-content-center justify-content-lg-start"
                href="index.html">
                <img src="./assets/logo.png" alt="logo" class="logo">
            </a>
            <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <img src="./assets/menu.png" alt="" width="24px" height="24px">
                </span>
            </button>
            <div class="collapse navbar-collapse order-md-2" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link f-s-18 c-brown txt-decoration-none hvr-brown font-weight-bold"
                            href="index.html">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link f-s-18 c-brown txt-decoration-none hvr-brown font-weight-bold"
                            href="about.html">About</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link f-s-18 c-brown txt-decoration-none hvr-brown font-weight-bold"
                            href="portfolio.html">Portfolio</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link f-s-18 c-brown txt-decoration-none hvr-brown font-weight-bold"
                            href="partner.html">Colaborative Partner</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link f-s-18 c-brown txt-decoration-none hvr-brown font-weight-bold"
                            href="contact.html">Contact</a>
                    </li>
                    <select class="f-s-18 c-white font-weight-bold b-brown rounded-circle border-none option-lang"
                        data-width="fit">
                        <option data-content='English' class="c-white font-weight-bold f-s-18 b-yellow lang-content">EN
                        </option>
                        <option data-content='Indonesia' class="c-white font-weight-bold f-s-18 b-yellow lang-content">
                            ID</option>
                    </select>
                </ul>
            </div>
        </nav>
    </div>

    <main class="row">

        <div class="col-lg-6 col-12 b-yellow b-700-white">
            <div class="m-auto position-relative z-99 pt-150 w-90 m-auto container">
                <h1 class="f-s-48 font-weight-bold c-brown">
                    Jangan Lewatkan Informasi dan Konten Viral Saat Ini
                </h1>
                <p class="f-s-32 c-brown mt-3">
                    Follow Social Media Kita
                </p>
                <div class="social-media mt-80 pb-150">
                    <a href="https://www.facebook.com/dagelan.co/" target="_blank"
                        class="facebook g-20 d-flex mb-2 align-items-center">
                        <img src="./assets/facebook.png" alt="" class="soc-med-icon">
                        <span class="c-brown f-s-24">facebook.com/dagelan.co/</span>
                    </a>
                    <a href="https://www.instagram.com/dagelan/" target="_blank"
                        class="instagram g-20 d-flex align-items-center">
                        <img src="./assets/instagram.png" alt="" class="soc-med-icon">
                        <span class="c-brown f-s-24">instagram.com/dagelan/</span>
                    </a>
                </div>
            </div>
        </div>
        <img src="./assets/background/back-vertical-yellow.svg" alt="" class="h-100 b-white d-lg-block d-none">

        <div class="col-lg-5 col-12 align-self-center">
            <div class="">
                <div class="row m-auto">
                    <div class="row d-flex justify-content-between ml-auto mr-auto mb-3 w-100">
                        <div class="col-md-6 col-12 over-y b-orange br-30 position-relative contact-bar mb-md-0 mb-3">
                            <img src="./assets/background/telp.svg" alt="" class="position-absolute l-0">
                            <label class="py-1 c-white font-weight-bold f-s-18 ml-5">+62 123 2765 4388</label>
                        </div>
                        <div class="col-md-6 col-12 over-y b-orange br-30 position-relative contact-bar">
                            <img src="./assets/background/mail.svg" alt="" class="position-absolute l-0">
                            <label class="py-1 c-white font-weight-bold f-s-18 ml-5">hello@dagelan.com</label>
                        </div>
                    </div>
                    <div class="ml-auto mr-auto">
                        <div class="form-group b-orange br-30 d-flex position-relative">
                            <img src="./assets/background/location.svg" alt="" class="position-absolute l-0 h-100">
                            <label class="c-white font-weight-bold f-s-18 py-1 ml-5 px-2 z-99">Jl. H. Jian No.21,
                                RT.8/RW.7, Cipete Utara, Kec. Kby. Baru, Kota Jakarta Selatan</label>
                        </div>
                    </div>
                </div>
                <div class="map m-auto pt-5 text-center">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.0036007839503!2d106.80153881434103!3d-6.263254563060518!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f19c8f8d1369%3A0x3c460c71e25b2c5!2sJl.%20H.%20Jian%20No.21%2C%20RT.6%2FRW.7%2C%20Cipete%20Utara%2C%20Kec.%20Kby.%20Baru%2C%20Kota%20Jakarta%20Selatan%2C%20Daerah%20Khusus%20Ibukota%20Jakarta%2012150!5e0!3m2!1sid!2sid!4v1619513125431!5m2!1sid!2sid"
                        class="w-100 h-100" allowfullscreen="" loading="lazy"></iframe></iframe>
                </div>
            </div>
        </div>
    </main>

    <footer class="b-brown position-relative">

        <div class="background-footer-about pill-9">
            <img src="./assets/background/pill-7.svg" alt="background"
                class="position-absolute background-footer pil-9 r-0 d-lg-block d-none">
        </div>

        <div class="footer-content container d-block d-lg-flex row m-auto">
            <div class="image-footer-content-contact col-12 col-lg-6 align-self-center z-99 mb-md-0 mb-5">
                <img src="./assets/background/back-footer.svg" class="w-100" alt="image footer">
            </div>

            <div class="contact-about col-12 col-lg-6 align-self-center z-99 mt-md-5 mt-0">
                <h3
                    class="txt-footer-content text-white f-s-48 fs-500-24 font-weight-bold w-100 col-12 col-lg-10 m-auto">
                    Masih Kepo? <br>
                    Hubungi Kami
                </h3>
                <form class="pt-5 col-12 col-lg-10 m-auto">
                    <div class="form-row">
                        <div class="form-group col-12 col-lg-6">
                            <input type="text" class="form-control" id="inputEmail4" placeholder="Nama">
                        </div>
                        <div class="form-group col-12 col-lg-6">
                            <input type="Email" class="form-control" id="inputPassword4" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="inputAddress" placeholder="Perusahaan">
                    </div>
                    <div class="form-group">
                        <select id="inputState" class="form-control">
                            <option selected>
                                Topik
                            </option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Tuliskan pesan" id="exampleFormControlTextarea1"
                            rows="5"></textarea>
                    </div>
                    <div class="btn-submit-group d-flex justify-content-end">
                        <button type="submit" class="btn btn-submit b-yellow c-brown font-weight-bold">
                            Kirim
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="container d-block d-lg-flex footer-top row m-auto">
            <div class="logo-group col-12 col-lg-3 d-flex justify-content-center justify-content-lg-start">
                <img src="./assets/image-7.png" alt="logo footer">
            </div>

            <div class="navigation-footer col-12 col-lg-7 text-center mt-5 mt-lg-0">
                <ul class="d-block d-lg-flex h-100 align-items-center justify-content-center g-50">
                    <li class="list-unstyled">
                        <a href="index.html" class="text-decoration-none f-s-16 font-weight-bold text-white">Home</a>
                    </li>
                    <li class="list-unstyled mt-3 mt-lg-0">
                        <a href="portfolio.html"
                            class="text-decoration-none f-s-16 font-weight-bold text-white">Portfolio</a>
                    </li>
                    <li class="list-unstyled mt-3 mt-lg-0">
                        <a href="partner.html"
                            class="text-decoration-none f-s-16 font-weight-bold text-white">Colaborative Partner</a>
                    </li>
                    <li class="list-unstyled mt-3 mt-lg-0">
                        <a href="contact.html"
                            class="text-decoration-none f-s-16 font-weight-bold text-white">Contact</a>
                    </li>
                </ul>
            </div>

            <div
                class="sosial-media-footer justify-content-center col align-self-center justify-content-lg-end d-flex mt-5 mt-lg-0">
                <a href="https://www.facebook.com/dagelan.co/" target="_blank"
                    class="btn soc-med rounded-circle b-yellow d-flex justify-content-center align-items-center">
                    <img src="./assets/facebook.png" alt="facebook icon" width="24px">
                </a>
                <a href="https://www.instagram.com/dagelan/" target="_blank"
                    class="btn soc-med rounded-circle b-yellow d-flex justify-content-center align-items-center">
                    <img src="./assets/instagram.png" alt="instagram icon" width="24px">
                </a>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="text-center f-s-14 text-white pt-3 pb-3 mb-0">
                Copyright &copy 2021 PT. Infia Media Pratama. All Rights Reserved.
            </p>
        </div>
    </footer>

    <!-- script bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <!-- script bootstrap -->
    <script src="./script/script.js"></script>
</body>

</html>