<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Dagelan</title>

    <!-- css bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- css bootstrap -->

    <!-- hover master css -->
    <link rel="stylesheet" href="./style/hover.css">
    <!-- hover master css -->

    <!-- font nunito -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;800&display=swap" rel="stylesheet">
    <!-- font nunito -->

    <!-- glider css -->
    <link rel="stylesheet" href="./style/glider.min.css">
    <!-- glider css -->

    <link rel="icon" href="./assets/logo-main.png" type="image/gif" sizes="20x20">

    <link rel="stylesheet" href="./style/style.css">

</head>

<body>

    <header class="pt-0 pt-md-2 b-linear-orange-2">

        <div class="rotate-group d-flex position-relative">
            <div class="rotate-wrap-left-partner position-absolute l-0">
                <img src="./assets/background/spinner.svg" alt=""
                    class="rotate rotate-left w-100 z-1 d-md-block d-none">
            </div>
            <div class="rotate-wrap-right-partner position-absolute r-0">
                <img src="./assets/background/spinner.svg" alt=""
                    class="rotate rotate-right w-100 z-1 d-md-block d-none">
            </div>
        </div>

        <div class="navigasi z-99 position-relative">
            <nav class="navbar navbar-expand-lg container">
                <a class="navbar-brand order-2 order-lg-1 m-auto d-flex justify-content-center justify-content-lg-start"
                    href="index.html">
                    <img src="./assets/logo.png" alt="logo" class="logo">
                </a>
                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <img src="./assets/menu.png" alt="" width="24px" height="24px">
                    </span>
                </button>
                <div class="collapse navbar-collapse order-md-2" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link f-s-18 c-brown txt-decoration-none hvr-brown font-weight-bold"
                                href="index.html">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link f-s-18 c-brown txt-decoration-none hvr-brown font-weight-bold"
                                href="about.html">About</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link f-s-18 c-brown txt-decoration-none hvr-brown font-weight-bold"
                                href="portfolio.html">Portfolio</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link f-s-18 c-brown txt-decoration-none hvr-brown font-weight-bold"
                                href="partner.html">Colaborative Partner</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link f-s-18 c-brown txt-decoration-none hvr-brown font-weight-bold"
                                href="contact.html">Contact</a>
                        </li>
                        <select class="f-s-18 c-white font-weight-bold b-brown rounded-circle border-none option-lang"
                            data-width="fit">
                            <option data-content='English'
                                class="c-white font-weight-bold f-s-18 b-yellow lang-content">EN</option>
                            <option data-content='Indonesia'
                                class="c-white font-weight-bold f-s-18 b-yellow lang-content">ID</option>
                        </select>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="head-partner">
            <h1 class="c-darker f-s-48 text-center font-weight-bold pt-100">
                Nutrisari
            </h1>
        </div>
    </header>
    <img src="./assets/back-bottom.svg" alt="" class="w-100 b-white background-top-partner">

    <main>

        <div class="main-top">
            <div class="main-banner d-flex justify-content-center mb-100">
                <img src="./assets/detail-1.png" alt="" class="w-100 z-99">
            </div>
        </div>

        <div class="main-middle">
            <div class="container row m-auto pb-4">
                <div class="col-md-7 offset-1">
                    <h4 class="mb-60 offset-2">
                        <span class="c-orange f-s-18">01</span> <span
                            class="font-weight-bold f-s-18 c-darker op-3">Context</span>
                    </h4>
                    <p class="font-weight-bold f-s-18 c-darker">
                        We’re so honored to have the responsibility to help PT. Nutrifood Indonesia reach their goals,
                        what this company struggling with, is how their product can reach out more market especially
                        small market in Indonesia
                    </p>
                </div>
                <div class="col-md-3">
                    <h4 class="mb-3">
                        <span class="c-orange f-s-18">02</span> <span
                            class="font-weight-bold c-darker f-s-18 op-3">Service</span>
                    </h4>
                    <p class="c-orange f-s-18">Content Production</p>
                    <p class="c-orange f-s-18">Creative Service</p>
                    <p class="c-orange f-s-18">KOL Management</p>
                </div>
            </div>
            <div class="container mb-80">
                <h4 class="mb-3 col-md-10 offset-2">
                    <span class="c-orange f-s-18">03</span> <span
                        class="font-weight-bold c-darker f-s-18 op-3">Solution</span>
                </h4>
                <p class="f-s-18 col-md-8 offset-2">
                    Based on an original idea from McCann, we had the not-so-simple task of crafting a compelling,
                    emotionally engaging and immersive web experience relying heavily on an existing real-life art
                    installation, composed of hundreds of balloons displaying hate messages received by Louise, a local
                    teenager who committed suicide a few years before.
                </p>
            </div>
            <div class="mb-150">
                <h4 class="mb-2 container">
                    <span class="c-orange col-md-10 offset-2 f-s-18">04</span><span
                        class="font-weight-bold c-darker f-s-18 op-3">Result</span>
                </h4>
                <div class="slider glider-contain multiple">
                    <div class="glider glider-wrap mr-0">
                        <div class="image-content-detail mr-2">
                            <img src="./assets/detail-2.png" alt="" class="w-100">
                        </div>
                        <div class="image-content-detail mr-2">
                            <img src="./assets/detail-3.png" alt="" class="w-100">
                        </div>
                        <div class="image-content-detail mr-2">
                            <img src="./assets/detail-4.png" alt="" class="w-100">
                        </div>
                        <div class="image-content-detail mr-2">
                            <img src="./assets/detail-5.png" alt="" class="w-100">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div
            class="main-bottom-content main-bottom-content-about pt-5 pb-md-0 mt-150 pb-5 w-90 b-linear-brown position-relative">

            <img src="./assets/background/back-project-left.svg" alt=""
                class="h-100 position-absolute l-0 back-portfolio t-0 d-md-block d-none">
            <img src="./assets/background/back-project-right.svg" alt=""
                class="h-100 position-absolute r-0 t-0 d-md-block d-none back-portfolio">

            <h3
                class="content-bottom f-s-48 font-weight-bold text-white text-center w-md-50 m-auto fs-500-24 z-99 position-relative">
                Apa aja sih yang pernah <br>
                dikerjain Dagelan ?
            </h3>
            <div class="card-artikel-group mt-md-0 mt-5">
                <div class="card-artikel-main d-block d-md-flex justify-content-center">
                    <a href="/detail-portfolio.html" class="card-artikel-2 mt-2 mt-md-0 hvr-wobble-vertical">
                        <div class="card card-artikel">
                            <img class="card-img-artikel m-auto h-100" src="./assets/project-1.png" alt="image product">
                            <div class="card-body body-project position-absolute b-0">
                                <h4 class="font-weight-bold f-s-36 c-white">
                                    Lifebuoy
                                </h4>
                                <p class="f-s-18 c-white">
                                    Content Development & Design
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="detail-portfolio.html" class="card-artikel-2 pt-md-0 pt-3 hvr-wobble-vertical">
                        <div class="card card-artikel">
                            <img class="card-img-artikel m-auto h-100" src="./assets/project-2.png" alt="image product">
                            <div class="card-body body-project position-absolute b-0">
                                <h4 class="font-weight-bold f-s-36 c-white">
                                    Lifebuoy
                                </h4>
                                <p class="f-s-18 c-white">
                                    Content Development & Design
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="detail-portfolio.html" class="card-artikel-3 hvr-wobble-vertical pt-md-0 pt-3">
                        <div class="card card-artikel position-relative">
                            <img class="card-img-artikel m-auto h-100" src="./assets/project-3.png" alt="image product">
                            <div class="card-body body-project position-absolute b-0">
                                <h4 class="font-weight-bold f-s-36 c-white">
                                    Lifebuoy
                                </h4>
                                <p class="f-s-18 c-white">
                                    Content Development & Design
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="btn-more-artikel mt-5 text-center">
                <a href="portfolio.html"
                    class="btn-find-more-artikel b-yellow text-center f-s-16 c-brown font-weight-bold text-decoration-none hvr-brown">
                    Lihat Semua Portfolio
                </a>
            </div>
        </div>
    </main>

    <footer class="b-brown">
        <div class="container d-block d-lg-flex footer-top-small pt-80 pb-50 row m-auto">
            <div class="logo-group col-12 col-lg-3 d-flex justify-content-center justify-content-lg-start">
                <img src="./assets/image-7.png" alt="logo footer">
            </div>

            <div class="navigation-footer col-12 col-lg-7 text-center mt-5 mt-lg-0">
                <ul class="d-block d-lg-flex h-100 align-items-center justify-content-center g-50">
                    <li class="list-unstyled">
                        <a href="index.html" class="text-decoration-none f-s-16 font-weight-bold text-white">Home</a>
                    </li>
                    <li class="list-unstyled mt-3 mt-lg-0">
                        <a href="portfolio.html"
                            class="text-decoration-none f-s-16 font-weight-bold text-white">Portfolio</a>
                    </li>
                    <li class="list-unstyled mt-3 mt-lg-0">
                        <a href="partner.html"
                            class="text-decoration-none f-s-16 font-weight-bold text-white">Colaborative Partner</a>
                    </li>
                    <li class="list-unstyled mt-3 mt-lg-0">
                        <a href="contact.html"
                            class="text-decoration-none f-s-16 font-weight-bold text-white">Contact</a>
                    </li>
                </ul>
            </div>

            <div
                class="sosial-media-footer justify-content-center col align-self-center justify-content-lg-end d-flex mt-5 mt-lg-0">
                <a href="https://www.facebook.com/dagelan.co/" target="_blank"
                    class="btn soc-med rounded-circle b-yellow d-flex justify-content-center align-items-center">
                    <img src="./assets/facebook.png" alt="facebook icon" width="24px">
                </a>
                <a href="https://www.instagram.com/dagelan/" target="_blank"
                    class="btn soc-med rounded-circle b-yellow d-flex justify-content-center align-items-center">
                    <img src="./assets/instagram.png" alt="instagram icon" width="24px">
                </a>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="text-center f-s-14 text-white pt-3 pb-3 mb-0">
                Copyright &copy 2021 PT. Infia Media Pratama. All Rights Reserved.
            </p>
        </div>
    </footer>

    <!-- script bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <!-- script bootstrap -->

    <!-- glider script -->
    <script src="./script/glider.min.js"></script>
    <!-- glider script -->

    <script src="./script/script.js"></script>
</body>

</html>