<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Partner - Dagelan</title>

    <!-- css bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- css bootstrap -->

    <!-- hover master css -->
    <link rel="stylesheet" href="./style/hover.css">
    <!-- hover master css -->

    <!-- font nunito -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;800&display=swap" rel="stylesheet">
    <!-- font nunito -->

    <link rel="icon" href="./assets/logo-main.png" type="image/gif" sizes="20x20">

    <link rel="stylesheet" href="./style/style.css">


</head>

<body>

    <header class="pt-0 pt-md-2 mb-4">
        <div class="navigasi z-99 position-relative">
            <nav class="navbar navbar-expand-lg container">
                <a class="navbar-brand order-2 order-lg-1 m-auto d-flex justify-content-center justify-content-lg-start"
                    href="index.html">
                    <img src="./assets/logo.png" alt="logo" class="logo">
                </a>
                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <img src="./assets/menu.png" alt="" width="24px" height="24px">
                    </span>
                </button>
                <div class="collapse navbar-collapse order-md-2" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link f-s-18 c-brown txt-decoration-none hvr-brown font-weight-bold"
                                href="index.html">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link f-s-18 c-brown txt-decoration-none hvr-brown font-weight-bold"
                                href="about.html">About</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link f-s-18 c-brown txt-decoration-none hvr-brown font-weight-bold"
                                href="portfolio.html">Portfolio</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link f-s-18 c-brown txt-decoration-none hvr-brown font-weight-bold"
                                href="partner.html">Colaborative Partner</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link f-s-18 c-brown txt-decoration-none hvr-brown font-weight-bold"
                                href="contact.html">Contact</a>
                        </li>
                        <select class="f-s-18 c-white font-weight-bold b-brown rounded-circle border-none option-lang"
                            data-width="fit">
                            <option data-content='English'
                                class="c-white font-weight-bold f-s-18 b-yellow lang-content">EN</option>
                            <option data-content='Indonesia'
                                class="c-white font-weight-bold f-s-18 b-yellow lang-content">ID</option>
                        </select>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="head-detail position-relative pb-100 pt-150">
            <div
                class="head-image-detail position-relative hvr-bob z-99 m-auto text-center ml-auto align-content-center w-100">
                <img src="./assets/partner-2.png" alt=""
                    class="z-99 rounded-circle img-partner-detail position-relative d-block ml-auto mr-auto">
                <img src="./assets/background/rect-detail.svg" alt=""
                    class="position-absolute name-back-detail-image z-1 rotate-back-partner">
            </div>
            <div class="bottom-image-detail">
                <h1 class="name-back-detail font-weight-bold c-pink f-s-224 position-absolute">
                    Tahilalats
                </h1>
            </div>
        </div>

    </header>

    <main>
        <img src="./assets/curve-top-pink.svg" alt="" class="w-100 m-auto">
        <div class="main-top-detail b-pink">
            <div class="container pt-5 pb-5">
                <h1 class="c-darker f-s-64 font-weight-bold text-center pb-2">
                    Tahilalats
                </h1>
                <p class="text-center m-auto c-darker f-s-24">
                    Tahilalats, atau juga dikenal sebagai Mind Blowon, merupakan sebuah komik daring berbahasa Indonesia
                    yang dibuat, ditulis, dan diilustrasikan oleh Nurfadli Mursyid.
                </p>
            </div>
        </div>

        <img src="./assets/back-top-detail.svg" alt="" class="w-100 b-pink">
        <div class="main-middle-detail b-linear-orange-long pt-100 pb-100">
            <div class="row mt-100 mb-100 container m-auto">
                <div class="col-md-4 col-12">
                    <img src="./assets/detail-partner-1.png" alt="" class="w-100">
                </div>
                <div class="col-md-4 col-12">
                    <img src="./assets/detail-partner-2.png" alt="" class="w-100">
                </div>
                <div class="col-md-4 col-12">
                    <img src="./assets/detail-partner-3.png" alt="" class="w-100">
                </div>
                <div class="col-md-4 col-12">
                    <img src="./assets/detail-partner-4.png" alt="" class="w-100">
                </div>
                <div class="col-md-4 col-12">
                    <img src="./assets/detail-partner-5.png" alt="" class="w-100">
                </div>
                <div class="col-md-4 col-12">
                    <img src="./assets/detail-partner-6.png" alt="" class="w-100">
                </div>
            </div>
        </div>
        <img src="assets/back-bottom-detail.svg" alt="" class="w-100">

        <div class="main-bottom-detail mt-150">
            <h2 class="f-s-48 font-weight-bold c-darker mb-70 text-center">
                Other Partner
            </h2>
            <div class="card-product-group container mt-5 mb-5 d-flex">
                <a href="/detail-partner.html" class="card card-product col-md-3 hvr-black c-dark hvr-bob-none">
                    <img class="card-img-top m-auto d-flex justify-content-center pt-4 w-50 hvr-bob-1"
                        src="./assets/colab1.png" alt="image product">
                    <div class="card-body b-pink w-90 h-100 mt-1 br-top-90 position-relative pb-60">
                        <h3 class="f-s-24 font-weight-bold text-center partner-name position-absolute">
                            hai.dudu
                        </h3>
                    </div>
                </a>
                <a href="/detail-partner.html" class="card card-product col-md-3 hvr-black c-dark hvr-bob-none">
                    <img class="card-img-top m-auto d-flex justify-content-center pt-4 w-50 hvr-bob"
                        src="./assets/colab2.png" alt="image product">
                    <div class="card-body b-pink w-90 h-100 mt-1 br-top-90 position-relative pb-60">
                        <h3 class="f-s-24 font-weight-bold text-center partner-name position-absolute">
                            tahilalats
                        </h3>
                    </div>
                </a>
                <a href="/detail-partner.html" class="card card-product col-md-3 hvr-black c-dark hvr-bob-none">
                    <img class="card-img-top m-auto d-flex justify-content-center pt-4 w-50 hvr-bob-1"
                        src="./assets/colab3.png" alt="image product">
                    <div class="card-body b-pink w-90 h-100 mt-1 br-top-90 position-relative pb-60">
                        <h3 class="f-s-24 font-weight-bold text-center partner-name position-absolute">
                            volix.media
                        </h3>
                    </div>
                </a>
                <a href="/detail-partner.html" class="card card-product col-md-3 hvr-black c-dark hvr-bob-none">
                    <img class="card-img-top m-auto d-flex justify-content-center pt-4 w-50 hvr-bob"
                        src="./assets/colab4.png" alt="image product">
                    <div class="card-body b-pink w-90 h-100 mt-1 br-top-90 position-relative pb-60">
                        <h3 class="f-s-24 font-weight-bold text-center partner-name position-absolute">
                            dalang.pelo
                        </h3>
                    </div>
                </a>
            </div>
            <div class="btn-partner mb-100 text-center">
                <a href="partner.html" class="btn-more-produk f-s-16 font-weight-bold b-yellow c-brown z-99 hvr-brown">
                    Lihat Semua Partner
                </a>
            </div>
        </div>
    </main>

    <footer class="b-brown">
        <div class="container d-block d-lg-flex footer-top-small pt-80 pb-50 row m-auto">
            <div class="logo-group col-12 col-lg-3 d-flex justify-content-center justify-content-lg-start">
                <img src="./assets/image-7.png" alt="logo footer">
            </div>

            <div class="navigation-footer col-12 col-lg-7 text-center mt-5 mt-lg-0">
                <ul class="d-block d-lg-flex h-100 align-items-center justify-content-center g-50">
                    <li class="list-unstyled">
                        <a href="index.html" class="text-decoration-none f-s-16 font-weight-bold text-white">Home</a>
                    </li>
                    <li class="list-unstyled mt-3 mt-lg-0">
                        <a href="portfolio.html"
                            class="text-decoration-none f-s-16 font-weight-bold text-white">Portfolio</a>
                    </li>
                    <li class="list-unstyled mt-3 mt-lg-0">
                        <a href="partner.html"
                            class="text-decoration-none f-s-16 font-weight-bold text-white">Colaborative Partner</a>
                    </li>
                    <li class="list-unstyled mt-3 mt-lg-0">
                        <a href="contact.html"
                            class="text-decoration-none f-s-16 font-weight-bold text-white">Contact</a>
                    </li>
                </ul>
            </div>

            <div
                class="sosial-media-footer justify-content-center col align-self-center justify-content-lg-end d-flex mt-5 mt-lg-0">
                <a href="https://www.facebook.com/dagelan.co/" target="_blank"
                    class="btn soc-med rounded-circle b-yellow d-flex justify-content-center align-items-center">
                    <img src="./assets/facebook.png" alt="facebook icon" width="24px">
                </a>
                <a href="https://www.instagram.com/dagelan/" target="_blank"
                    class="btn soc-med rounded-circle b-yellow d-flex justify-content-center align-items-center">
                    <img src="./assets/instagram.png" alt="instagram icon" width="24px">
                </a>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="text-center f-s-14 text-white pt-3 pb-3 mb-0">
                Copyright &copy 2021 PT. Infia Media Pratama. All Rights Reserved.
            </p>
        </div>
    </footer>


    <!-- script bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <!-- script bootstrap -->
    <script src="./script/script.js"></script>
</body>

</html>