<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dagelan - Home</title>

    <!-- css bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- css bootstrap -->

    <!-- hover master css -->
    <link rel="stylesheet" href="./style/hover.css">
    <!-- hover master css -->

    <!-- font nunito -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;800&display=swap" rel="stylesheet">
    <!-- font nunito -->

    <link rel="icon" href="./assets/logo-main.png" type="image/gif" sizes="20x20">

    <link rel="stylesheet" href="./style/style.css">
</head>

<body class="b-pink">

    <header class="b-linear-orange pt-0 pt-md-2 pb-70 header-top position-relative header-90">
        <div class="navigasi z-99 position-relative">
            <nav class="navbar navbar-expand-lg container">
                <a class="navbar-brand order-2 order-lg-1 m-auto d-flex justify-content-center justify-content-lg-start"
                    href="index.html">
                    <img src="./assets/logo.png" alt="logo" class="logo">
                </a>
                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <img src="./assets/menu.png" alt="" width="24px" height="24px">
                    </span>
                </button>
                <div class="collapse navbar-collapse order-md-2" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link f-s-18 c-brown txt-decoration-none hvr-brown font-weight-bold"
                                href="index.html">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link f-s-18 c-brown txt-decoration-none hvr-brown font-weight-bold"
                                href="about.html">About</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link f-s-18 c-brown txt-decoration-none hvr-brown font-weight-bold"
                                href="portfolio.html">Portfolio</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link f-s-18 c-brown txt-decoration-none hvr-brown font-weight-bold"
                                href="partner.html">Colaborative Partner</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link f-s-18 c-brown txt-decoration-none hvr-brown font-weight-bold"
                                href="contact.html">Contact</a>
                        </li>
                        <select class="f-s-18 c-white font-weight-bold b-brown rounded-circle border-none option-lang"
                            data-width="fit">
                            <option data-content='English'
                                class="c-white font-weight-bold f-s-18 b-yellow lang-content">EN</option>
                            <option data-content='Indonesia'
                                class="c-white font-weight-bold f-s-18 b-yellow lang-content">ID</option>
                        </select>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="background position-absolute">
            <img src="./assets/background/pill-6.svg" alt="background top" width="70%">
        </div>
        <img src="./assets/background/pill-4.svg" alt="" class="position-absolute l-0 b-0 back-top-brown">

        <div class="main-header d-block d-md-flex container position-relative">
            <div class="txt-head container d-block z-99">
                <h1 class="f-s-64 font-weight-bold c-dark mt-5 mb-5 fs-500-36">
                    Dagelan percaya kebahagiaan itu untuk dibagikan
                </h1>
                <div class="arrow-group mb-5 w-50 d-flex align-items-start">
                    <a href="#main"
                        class="b-white mr-0 mr-md-2 d-flex justify-content-center align-items-center text-center b-pink py-2 px-2 br-62 txt-deoration-none">
                        <img src="./assets/arrow-down-circle.png" alt="" class="arrow-down-icon">
                        <span
                            class="txt-kepoin f-s-23 fs-700-18 fs-500-16 font-weight-bold txt-decoration-none c-brown ml-2">
                            Kepoin Yuk
                        </span>
                    </a>
                </div>
            </div>

            <div class="image-head container">
                <div class="background-main-pill">
                    <img src="./assets/background/pill-5.svg" alt="background"
                        class="position-absolute background-main-1">
                    <img src="./assets/background/pill-2.svg" alt="background"
                        class="position-absolute background-main-2">
                    <img src="./assets/background/pill-1.svg" alt="background"
                        class="position-absolute background-main-3">
                    <img src="./assets/background/pill-3.svg" alt="background"
                        class="position-absolute background-main-4">
                </div>
                <div class="mask-group position-relative">
                    <img src="./assets/background/Mask-2.svg" alt="background"
                        class="mask-2 mt-3 position-relative z-99 hvr-bob-1">
                    <img src="./assets/background/Mask-1.svg" alt="background"
                        class="mask-1 position-realtive z-99 hvr-bob r-0">
                </div>
            </div>
        </div>
    </header>

    <main id="main" class="position-relative b-pink main-top">
        <div class="txt-main-top-group container m-auto">
            <h1 class="col-12 col-lg-8 m-auto text-center c-dark font-weight-bold fs-500-24 pt-0 pt-md-5 f-s-48">
                Menghasilkan Konten-konten Diberbagai Media
            </h1>
            <p class="col-12 col-lg-6 text-center f-s-18 pt-4 m-auto fs-500-16">
                Dagelan membuat konten seperti meme, artikel dan konten kreatif lainnya untuk menghibur serta memberikan
                informasi kepada orang lain.
            </p>
        </div>

        <div class="card-follower container m-auto pt-5 pb-100">
            <div class="image-follower-group text-center">
                <img src="./assets/background/back-follow.svg" alt="follower group image" class="image-follower">
            </div>
            <div class="card-follower-sosmed row b-white">
                <div class="card-sosmed p-5 d-block col-6 text-center border-bottom border-side">
                    <span
                        class="c-orange f-s-96 font-weight-bold fs-500-24 fs-700-48 text-center justify-content-center d-flex">17.7M</span>
                    <p class="f-s-24 fs-500-16 c-darker">Instagram Followers</p>
                </div>
                <div class="card-sosmed p-5 d-block col-6 text-center border-bottom">
                    <span
                        class="c-orange f-s-96 font-weight-bold fs-500-24 fs-700-48 justify-content-center d-flex">858.044</span>
                    <p class="f-s-24 fs-500-16 c-darker">Facebook Page Followers</p>
                </div>
                <div class="card-sosmed p-5 d-block col-6 text-center border-side">
                    <span
                        class="c-orange f-s-96 font-weight-bold fs-500-24 fs-700-48 justify-content-center d-flex">51.925</span>
                    <p class="f-s-24 fs-500-16 c-darker">Instagram Post</p>
                </div>
                <div class="card-sosmed p-5 d-block col-6 text-center">
                    <span
                        class="c-orange f-s-96 font-weight-bold fs-500-24 fs-700-48 justify-content-center d-flex">780.251</span>
                    <p class="f-s-24 fs-500-16 c-darker">Facebook Page Likes</p>
                </div>
            </div>
        </div>

        <div class="main-middle-content container m-auto pt-5 row flex-column-reverse flex-md-row text-center">
            <div
                class="image-content-middle align-items-end d-flex justify-content-md-end justify-content-center col-md-5 mt-4 z-99 order-2 order-md-1">
                <img src="./assets/background/back-project.svg" alt="image content" class="image-content-2">
            </div>
            <div class="content-middle d-block align-self-center col-12 col-md-5 w-100 order-md-2 order-1 mb-md-0 mb-5">
                <h4 class="content f-s-36 w-100 w-md-75 c-dark mb-4 font-weight-bold fs-500-24">
                    Kepoin Dagelan <br>
                    Lebih Lagi
                </h4>
                <a href="./about.html"
                    class="btn-find-more b-yellow font-weight-bold f-s-16 c-brown text-center hvr-brown">
                    Cari Tahu Tentang Dagelan
                </a>
            </div>
        </div>

        <div class="main-bottom-content pt-5 pb-md-0 pb-5 w-90 b-linear-brown position-relative z-99">

            <img src="./assets/background/back-project-left.svg" alt=""
                class="h-100 position-absolute l-0 back-portfolio t-0 d-md-block d-none">
            <img src="./assets/background/back-project-right.svg" alt=""
                class="h-100 position-absolute r-0 t-0 d-md-block d-none back-portfolio">

            <h3
                class="content-bottom f-s-48 font-weight-bold text-white text-center w-md-50 m-auto fs-500-24 z-99 position-relative">
                Apa aja sih yang pernah <br>
                dikerjain Dagelan ?
            </h3>
            <div class="card-artikel-group mt-5">
                <div class="card-artikel-main d-block d-md-flex justify-content-center m-auto">
                    <a href="./detail-portfolio.html" class="card-artikel-2 mt-2 mt-md-0 hvr-wobble-vertical">
                        <div class="card card-artikel">
                            <img class="card-img-artikel m-auto h-100" src="./assets/project-1.png" alt="image product">
                            <div class="card-body body-project position-absolute b-0 w-100 h-100">
                                <h4 class="font-weight-bold f-s-36 c-white">
                                    Lifebuoy
                                </h4>
                                <p class="f-s-18 c-white">
                                    Content Development & Design
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="./detail-portfolio.html" class="card-artikel-2 pt-md-0 pt-3 hvr-wobble-vertical">
                        <div class="card card-artikel">
                            <img class="card-img-artikel m-auto h-100" src="./assets/project-2.png" alt="image product">
                            <div class="card-body body-project position-absolute b-0 w-100 h-100">
                                <h4 class="font-weight-bold f-s-36 c-white">
                                    Lifebuoy
                                </h4>
                                <p class="f-s-18 c-white">
                                    Content Development & Design
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="./detail-portfolio.html" class="card-artikel-3 hvr-wobble-vertical pt-md-0 pt-3">
                        <div class="card card-artikel position-relative">
                            <img class="card-img-artikel m-auto h-100" src="./assets/project-3.png" alt="image product">
                            <div class="card-body body-project position-absolute b-0 w-100 h-100">
                                <h4 class="font-weight-bold f-s-36 c-white">
                                    Lifebuoy
                                </h4>
                                <p class="f-s-18 c-white">
                                    Content Development & Design
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="btn-more-artikel mt-5 text-center">
                <a href="./portfolio.html"
                    class="btn-find-more-artikel b-yellow text-center f-s-16 c-brown font-weight-bold text-decoration-none hvr-brown">
                    Lihat Semua Portfolio
                </a>
            </div>
        </div>
    </main>

    <main class="main-bottom b-white position-relative">

        <div class="services b-white mb-0 position-relative">

            <div class="rotate-group d-flex position-relative">
                <div class="rotate-wrap-left position-absolute l-0 z-3">
                    <img src="./assets/background/spinner.svg" alt=""
                        class="rotate rotate-left w-100 d-md-block d-none">
                </div>
                <div class="rotate-wrap-right position-absolute r-0 z-3">
                    <img src="./assets/background/spinner.svg" alt=""
                        class="rotate rotate-right w-100 d-md-block d-none">
                </div>
            </div>

            <h2 class="f-s-48 font-weight-bold text-center pb-50">
                Our Services
            </h2>
            <div id="accordion" class="container position-relative z-99">
                <div class="card-service">
                    <div class="card-top-header position-relative d-flex mb-2" id="headingOne">
                        <span
                            class="c-white font-weight-bold f-s-24 fs-500-18 b-brown numb-service d-flex justify-content-center align-items-center mr-md-3 mr-1">
                            01.
                        </span>
                        <h5 class="mb-0">
                            <button class="btn b-white c-darker font-weight-bold f-s-24 fs-500-18 h-100"
                                data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                                BTL Advertising
                            </button>
                        </h5>
                        <img src="./assets/service-back.png" alt="" class="position-absolute back-service r-0 t-0">
                        <button
                            class="btn rounded-circle arrow-service align-self-center c-darker font-weight-bold f-s-24 fs-500-18 b-yellow position-absolute hvr-icon-down"
                            data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                            <img src="./assets/arrow-down.png" alt=""
                                class="w-100 arrow-icon-service d-flex justify-content-center align-items-center hvr-icon">
                        </button>
                    </div>
                    <div id="collapseOne"
                        class="card-exp collapse b-pink f-s-24 fs-500-18 c-darker mb-2 mt-0 z-99 position-relative"
                        aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                            beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                            lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                            probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card-service">
                    <div class="card-top-header position-relative d-flex mb-2" id="headingTwo">
                        <span
                            class="c-white font-weight-bold f-s-24 fs-500-18 b-brown numb-service d-flex justify-content-center align-items-center mr-md-3 mr-1">
                            02.
                        </span>
                        <h5 class="mb-0">
                            <button class="btn b-white c-darker font-weight-bold f-s-24 fs-500-18 h-100"
                                data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                                aria-controls="collapseTwo">
                                BTL Service
                            </button>
                        </h5>
                        <img src="./assets/service-back.png" alt="" class="position-absolute back-service r-0 t-0">
                        <button
                            class="btn rounded-circle arrow-service align-self-center c-darker font-weight-bold f-s-24 fs-500-18 b-yellow position-absolute hvr-icon-down"
                            data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                            aria-controls="collapseTwo">
                            <img src="./assets/arrow-down.png" alt=""
                                class="w-100 arrow-icon-service d-flex justify-content-center align-items-center hvr-icon">
                        </button>
                    </div>
                    <div id="collapseTwo"
                        class="card-exp collapse b-pink f-s-24 fs-500-18 c-darker mb-2 mt-0 position-relative"
                        aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                            beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                            lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                            probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card-service">
                    <div class="card-top-header position-relative d-flex mb-2" id="headingThree">
                        <span
                            class="c-white font-weight-bold f-s-24 fs-500-18 b-brown numb-service d-flex justify-content-center align-items-center mr-md-3 mr-1">
                            03.
                        </span>
                        <h5 class="mb-0">
                            <button class="btn b-white c-darker font-weight-bold f-s-24 fs-500-18 h-100"
                                data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
                                aria-controls="collapseThree">
                                Content Production
                            </button>
                        </h5>
                        <img src="./assets/service-back.png" alt="" class="position-absolute back-service r-0 t-0">
                        <button
                            class="btn rounded-circle arrow-service align-self-center c-darker font-weight-bold f-s-24 fs-500-18 b-yellow position-absolute hvr-icon-down"
                            data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
                            aria-controls="collapseThree">
                            <img src="./assets/arrow-down.png" alt=""
                                class="w-100 arrow-icon-service d-flex justify-content-center align-items-center hvr-icon">
                        </button>
                    </div>
                    <div id="collapseThree"
                        class="card-exp collapse b-pink f-s-24 fs-500-18 c-darker mb-2 mt-0 position-relative"
                        aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                            beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                            lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                            probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card-service">
                    <div class="card-top-header position-relative d-flex mb-2" id="headingFour">
                        <span
                            class="c-white font-weight-bold f-s-24 fs-500-18 b-brown numb-service d-flex justify-content-center align-items-center mr-md-3 mr-1">
                            04.
                        </span>
                        <h5 class="mb-0">
                            <button class="btn b-white c-darker font-weight-bold f-s-24 fs-500-18 h-100"
                                data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
                                aria-controls="collapseFour">
                                Creative Service
                            </button>
                        </h5>
                        <img src="./assets/service-back.png" alt="" class="position-absolute back-service r-0 t-0">
                        <button
                            class="btn rounded-circle arrow-service align-self-center c-darker font-weight-bold f-s-24 fs-500-18 b-yellow position-absolute hvr-icon-down"
                            data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
                            aria-controls="collapseFour">
                            <img src="./assets/arrow-down.png" alt=""
                                class="w-100 arrow-icon-service d-flex justify-content-center align-items-center hvr-icon">
                        </button>
                    </div>
                    <div id="collapseFour" class="card-exp collapse b-pink f-s-24 fs-500-18 c-darker mb-2 mt-0"
                        aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                            beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                            lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                            probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card-service">
                    <div class="card-top-header position-relative d-flex mb-2" id="headingFive">
                        <span
                            class="c-white font-weight-bold f-s-24 fs-500-18 b-brown numb-service d-flex justify-content-center align-items-center mr-md-3 mr-1">
                            05.
                        </span>
                        <h5 class="mb-0">
                            <button class="btn b-white c-darker font-weight-bold f-s-24 fs-500-18 h-100"
                                data-toggle="collapse" data-target="#collapseFive" aria-expanded="true"
                                aria-controls="collapseFive">
                                Digital Service
                            </button>
                        </h5>
                        <img src="./assets/service-back.png" alt="" class="position-absolute back-service r-0 t-0">
                        <button
                            class="btn rounded-circle arrow-service align-self-center c-darker font-weight-bold f-s-24 fs-500-18 b-yellow position-absolute hvr-icon-down"
                            data-toggle="collapse" data-target="#collapseFive" aria-expanded="true"
                            aria-controls="collapseFive">
                            <img src="./assets/arrow-down.png" alt=""
                                class="w-100 arrow-icon-service d-flex justify-content-center align-items-center hvr-icon">
                        </button>
                    </div>
                    <div id="collapseFive" class="card-exp collapse b-pink f-s-24 fs-500-18 c-darker mb-2 mt-0"
                        aria-labelledby="headingFive" data-parent="#accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                            beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                            lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                            probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card-service">
                    <div class="card-top-header position-relative d-flex mb-2" id="headingSix">
                        <span
                            class="c-white font-weight-bold f-s-24 fs-500-18 b-brown numb-service d-flex justify-content-center align-items-center mr-md-3 mr-1">
                            06.
                        </span>
                        <h5 class="mb-0">
                            <button class="btn b-white c-darker font-weight-bold f-s-24 fs-500-18 h-100"
                                data-toggle="collapse" data-target="#collapseSix" aria-expanded="true"
                                aria-controls="collapseSix">
                                Instagram Placement
                            </button>
                        </h5>
                        <img src="./assets/service-back.png" alt="" class="position-absolute back-service r-0 t-0">
                        <button
                            class="btn rounded-circle arrow-service align-self-center c-darker font-weight-bold f-s-24 fs-500-18 b-yellow position-absolute hvr-icon-down"
                            data-toggle="collapse" data-target="#collapseSix" aria-expanded="true"
                            aria-controls="collapseSix">
                            <img src="./assets/arrow-down.png" alt=""
                                class="w-100 arrow-icon-service d-flex justify-content-center align-items-center hvr-icon">
                        </button>
                    </div>
                    <div id="collapseSix" class="card-exp collapse b-pink f-s-24 fs-500-18 c-darker mb-2 mt-0"
                        aria-labelledby="headingSix" data-parent="#accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                            beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                            lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                            probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card-service">
                    <div class="card-top-header position-relative d-flex mb-2" id="headingSeven">
                        <span
                            class="c-white font-weight-bold f-s-24 fs-500-18 b-brown numb-service d-flex justify-content-center align-items-center mr-md-3 mr-1">
                            07.
                        </span>
                        <h5 class="mb-0">
                            <button class="btn b-white c-darker font-weight-bold f-s-24 fs-500-18 h-100"
                                data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true"
                                aria-controls="collapseSeven">
                                KOL Management
                            </button>
                        </h5>
                        <img src="./assets/service-back.png" alt="" class="position-absolute back-service r-0 t-0">
                        <button
                            class="btn rounded-circle arrow-service align-self-center c-darker font-weight-bold f-s-24 fs-500-18 b-yellow position-absolute hvr-icon-down"
                            data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true"
                            aria-controls="collapseSeven">
                            <img src="./assets/arrow-down.png" alt=""
                                class="w-100 arrow-icon-service d-flex justify-content-center align-items-center hvr-icon">
                        </button>
                    </div>
                    <div id="collapseSeven" class="card-exp collapse b-pink f-s-24 fs-500-18 c-darker mb-2 mt-0"
                        aria-labelledby="headingSeven" data-parent="#accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                            beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                            lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                            probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card-service">
                    <div class="card-top-header position-relative d-flex mb-2" id="headingEight">
                        <span
                            class="c-white font-weight-bold f-s-24 fs-500-18 b-brown numb-service d-flex justify-content-center align-items-center mr-md-3 mr-1">
                            08.
                        </span>
                        <h5 class="mb-0">
                            <button class="btn b-white c-darker font-weight-bold f-s-24 fs-500-18 h-100"
                                data-toggle="collapse" data-target="#collapseEight" aria-expanded="true"
                                aria-controls="collapseEight">
                                License
                            </button>
                        </h5>
                        <img src="./assets/service-back.png" alt="" class="position-absolute back-service r-0 t-0">
                        <button
                            class="btn rounded-circle arrow-service align-self-center c-darker font-weight-bold f-s-24 fs-500-18 b-yellow position-absolute hvr-icon-down"
                            data-toggle="collapse" data-target="#collapseEight" aria-expanded="true"
                            aria-controls="collapseEight">
                            <img src="./assets/arrow-down.png" alt=""
                                class="w-100 arrow-icon-service d-flex justify-content-center align-items-center hvr-icon">
                        </button>
                    </div>
                    <div id="collapseEight" class="card-exp collapse b-pink f-s-24 fs-500-18 c-darker mb-2 mt-0"
                        aria-labelledby="headingEight" data-parent="#accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                            beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                            lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                            probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card-service">
                    <div class="card-top-header position-relative d-flex mb-2" id="headingNine">
                        <span
                            class="c-white font-weight-bold f-s-24 fs-500-18 b-brown numb-service d-flex justify-content-center align-items-center mr-md-3 mr-1">
                            09.
                        </span>
                        <h5 class="mb-0">
                            <button class="btn b-white c-darker font-weight-bold f-s-24 fs-500-18 h-100"
                                data-toggle="collapse" data-target="#collapseNine" aria-expanded="true"
                                aria-controls="collapseNine">
                                Training & Consulting
                            </button>
                        </h5>
                        <img src="./assets/service-back.png" alt="" class="position-absolute back-service r-0 t-0">
                        <button
                            class="btn rounded-circle arrow-service align-self-center c-darker font-weight-bold f-s-24 fs-500-18 b-yellow position-absolute hvr-icon-down"
                            data-toggle="collapse" data-target="#collapseNine" aria-expanded="true"
                            aria-controls="collapseNine">
                            <img src="./assets/arrow-down.png" alt=""
                                class="w-100 arrow-icon-service d-flex justify-content-center align-items-center hvr-icon">
                        </button>
                    </div>
                    <div id="collapseNine" class="card-exp collapse b-pink f-s-24 fs-500-18 c-darker mb-2 mt-0"
                        aria-labelledby="headingNine" data-parent="#accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                            beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                            lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                            probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="client-group b-white pt-150 pb-150">
            <h2 class="f-s-42 font-weight-bold text-center mb-4">Our Clients</h2>
            <div class="row container m-auto text-center">
                <div class="col-md-2 client-wrap align-self-center">
                    <img src="./assets/client-1.png" alt="" class="client">
                </div>
                <div class="col-md-2 client-wrap align-self-center">
                    <img src="./assets/client-2.png" alt="" class="client">
                </div>
                <div class="col-md-2 client-wrap align-self-center">
                    <img src="./assets/client-3.png" alt="" class="client">
                </div>
                <div class="col-md-2 client-wrap align-self-center">
                    <img src="./assets/client-4.png" alt="" class="client">
                </div>
                <div class="col-md-2 client-wrap align-self-center">
                    <img src="./assets/client-5.png" alt="" class="client">
                </div>
                <div class="col-md-2 client-wrap align-self-center">
                    <img src="./assets/client-6.png" alt="" class="client">
                </div>
                <div class="col-md-2 client-wrap align-self-center">
                    <img src="./assets/client-7.png" alt="" class="client">
                </div>
                <div class="col-md-2 client-wrap align-self-center">
                    <img src="./assets/client-8.png" alt="" class="client">
                </div>
                <div class="col-md-2 client-wrap align-self-center">
                    <img src="./assets/client-9.png" alt="" class="client">
                </div>
                <div class="col-md-2 client-wrap align-self-center">
                    <img src="./assets/client-10.png" alt="" class="client">
                </div>
                <div class="col-md-2 client-wrap align-self-center">
                    <img src="./assets/client-11.png" alt="" class="client">
                </div>
                <div class="col-md-2 client-wrap align-self-center">
                    <img src="./assets/client-12.png" alt="" class="client">
                </div>
            </div>
        </div>

        <div class="shoping-cart b-yellow position-relative">
            <div class="back-colab-top d-md-block d-none">
                <img src="./assets/back-top-long.svg" alt="" class="b-white">
            </div>
            <div class="back-colab d-md-block d-none">
                <img src="./assets/back-colab-long.png" alt="" class="position-absolute w-50 l-0">
            </div>
            <div class="back-colab d-md-block d-none">
                <img src="./assets/back-colab-long.png" alt="" class="position-absolute w-50 r-0">
            </div>
            <h3 class="txt-shoping-title font-weight-bold fs-500-24 c-dark pt-5 text-center position-relative">
                Colaborative Partner
            </h3>
            <div class="card-product-group row w-90 pt-70 pb-5 d-flex m-auto d-flex justify-content-center">
                <a href="/detail-partner.html" class="card card-product hvr-bob col-md-3">
                    <img class="card-img-top m-auto d-flex justify-content-center pt-4 w-50" src="./assets/colab1.png"
                        alt="image product">
                    <div class="card-body b-pink w-90 h-100 mt-1 br-top-90 position-relative pb-60">
                        <h3 class="f-s-24 font-weight-bold text-center partner-name position-absolute c-dark">
                            hai.dudu
                        </h3>
                    </div>
                </a>
                <a href="/detail-partner.html" class="card card-product hvr-bob-1 col-md-3">
                    <img class="card-img-top m-auto d-flex justify-content-center pt-4 w-50" src="./assets/colab2.png"
                        alt="image product">
                    <div class="card-body b-pink w-90 h-100 mt-1 br-top-90 position-relative pb-60">
                        <h3 class="f-s-24 font-weight-bold text-center partner-name position-absolute c-dark">
                            tahilalats
                        </h3>
                    </div>
                </a>
                <a href="/detail-partner.html" class="card card-product hvr-bob col-md-3">
                    <img class="card-img-top m-auto d-flex justify-content-center pt-4 w-50" src="./assets/colab3.png"
                        alt="image product">
                    <div class="card-body b-pink w-90 h-100 mt-1 br-top-90 position-relative pb-60">
                        <h3 class="f-s-24 font-weight-bold text-center partner-name position-absolute c-dark">
                            volix.media
                        </h3>
                    </div>
                </a>
                <a href="/detail-partner.html" class="card card-product hvr-bob-1 col-md-3">
                    <img class="card-img-top m-auto d-flex justify-content-center pt-4 w-50" src="./assets/colab4.png"
                        alt="image product">
                    <div class="card-body b-pink w-90 h-100 mt-1 br-top-90 position-relative pb-60">
                        <h3 class="f-s-24 font-weight-bold text-center partner-name position-absolute c-dark">
                            dalang.pelo
                        </h3>
                    </div>
                </a>
            </div>
            <div class="more-produk text-center pb-5 z-99 position-relative">
                <a href="partner.html" class="btn-more-produk f-s-16 font-weight-bold b-white c-brown z-99 hvr-brown">
                    Lihat Semua Partner
                </a>
            </div>
            <img src="./assets/background/Slice2.svg" alt="" class="position-absolute b-0 r-0 l-0 w-100 -mb-1">
            <img src="./assets/background/Slice.svg" alt="" class="w-100 z-99 b-brown -mb-1">
        </div>
    </main>


    <footer class="b-brown position-relative">

        <div class="background-footer pill-9">
            <img src="./assets/background/pill-7.svg" alt="background"
                class="position-absolute background-footer pil-9">
        </div>

        <div class="footer-content container d-block d-lg-flex row m-auto">
            <div class="image-footer-content col-12 col-lg-6">
                <img src="./assets/background/back-footer.svg" class="w-100" alt="image footer">
            </div>

            <div class="contact col-12 col-lg-6 align-self-lg-end">
                <h3
                    class="txt-footer-content text-white f-s-48 fs-500-24 font-weight-bold w-100 col-12 col-lg-10 m-auto">
                    Masih Kepo? <br>
                    Hubungi Kami
                </h3>
                <form class="pt-5 col-12 col-lg-10 m-auto">
                    <div class="form-row">
                        <div class="form-group col-12 col-lg-6">
                            <input type="text" class="form-control" id="inputEmail4" placeholder="Nama">
                        </div>
                        <div class="form-group col-12 col-lg-6">
                            <input type="Email" class="form-control" id="inputPassword4" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="inputAddress" placeholder="Perusahaan">
                    </div>
                    <div class="form-group">
                        <select id="inputState" class="form-control">
                            <option selected>
                                Topik
                            </option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Tuliskan pesan" id="exampleFormControlTextarea1"
                            rows="5"></textarea>
                    </div>
                    <div class="btn-submit-group d-flex justify-content-end">
                        <button type="submit" class="btn btn-submit b-yellow c-brown font-weight-bold">
                            Kirim
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="container d-block d-lg-flex footer-top row m-auto">
            <div class="logo-group col-12 col-lg-3 d-flex justify-content-center justify-content-lg-start">
                <img src="./assets/background/logo-footer.svg" alt="logo footer">
            </div>

            <div class="navigation-footer col-12 col-lg-7 text-center mt-5 mt-lg-0">
                <ul class="d-block d-lg-flex h-100 align-items-center justify-content-center g-50">
                    <li class="list-unstyled">
                        <a href="./index.html" class="text-decoration-none f-s-16 font-weight-bold text-white">Home</a>
                    </li>
                    <li class="list-unstyled mt-3 mt-lg-0">
                        <a href="./portfolio.html"
                            class="text-decoration-none f-s-16 font-weight-bold text-white">Portfolio</a>
                    </li>
                    <li class="list-unstyled mt-3 mt-lg-0">
                        <a href="./partner.html"
                            class="text-decoration-none f-s-16 font-weight-bold text-white">Colaborative Partner</a>
                    </li>
                    <li class="list-unstyled mt-3 mt-lg-0">
                        <a href="./contact.html"
                            class="text-decoration-none f-s-16 font-weight-bold text-white">Contact</a>
                    </li>
                </ul>
            </div>

            <div
                class="sosial-media-footer justify-content-center col align-self-center justify-content-lg-end d-flex mt-5 mt-lg-0">
                <a href="https://www.facebook.com/dagelan.co/" target="_blank"
                    class="btn soc-med rounded-circle b-yellow d-flex justify-content-center align-items-center">
                    <img src="./assets/facebook.png" alt="facebook icon" width="24px">
                </a>
                <a href="https://www.instagram.com/dagelan/" target="_blank"
                    class="btn soc-med rounded-circle b-yellow d-flex justify-content-center align-items-center">
                    <img src="./assets/instagram.png" alt="instagram icon" width="24px">
                </a>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="text-center f-s-14 text-white pt-3 pb-3 mb-0">
                Copyright &copy 2021 PT. Infia Media Pratama. All Rights Reserved.
            </p>
        </div>
    </footer>


    <!-- script bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <!-- script bootstrap -->
    <script src="./script/script.js"></script>
</body>

</html>