<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Dagelan</title>

    <!-- css bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- css bootstrap -->

    <!-- hover master css -->
    <link rel="stylesheet" href="./style/hover.css">
    <!-- hover master css -->

    <!-- font nunito -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;800&display=swap" rel="stylesheet">
    <!-- font nunito -->

    <link rel="icon" href="./assets/logo-main.png" type="image/gif" sizes="20x20">

    <link rel="stylesheet" href="./style/style.css">

</head>

<body>

    <header class="pt-0 pt-md-2 b-linear-orange-2">

        <div class="rotate-group d-flex position-relative">
            <div class="rotate-wrap-left-partner position-absolute l-0">
                <img src="./assets/background/spinner.svg" alt=""
                    class="rotate rotate-left w-100 z-1 d-md-block d-none">
            </div>
            <div class="rotate-wrap-right-partner position-absolute r-0">
                <img src="./assets/background/spinner.svg" alt=""
                    class="rotate rotate-right w-100 z-1 d-md-block d-none">
            </div>
        </div>

        <div class="navigasi z-99 position-relative">
            <nav class="navbar navbar-expand-lg container">
                <a class="navbar-brand order-2 order-lg-1 m-auto d-flex justify-content-center justify-content-lg-start"
                    href="index.html">
                    <img src="./assets/logo.png" alt="logo" class="logo">
                </a>
                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <img src="./assets/menu.png" alt="" width="24px" height="24px">
                    </span>
                </button>
                <div class="collapse navbar-collapse order-md-2" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link f-s-18 c-brown txt-decoration-none hvr-brown font-weight-bold"
                                href="index.html">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link f-s-18 c-brown txt-decoration-none hvr-brown font-weight-bold"
                                href="about.html">About</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link f-s-18 c-brown txt-decoration-none hvr-brown font-weight-bold"
                                href="portfolio.html">Portfolio</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link f-s-18 c-brown txt-decoration-none hvr-brown font-weight-bold"
                                href="partner.html">Colaborative Partner</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link f-s-18 c-brown txt-decoration-none hvr-brown font-weight-bold"
                                href="contact.html">Contact</a>
                        </li>
                        <select class="f-s-18 c-white font-weight-bold b-brown rounded-circle border-none option-lang"
                            data-width="fit">
                            <option data-content='English'
                                class="c-white font-weight-bold f-s-18 b-yellow lang-content">EN</option>
                            <option data-content='Indonesia'
                                class="c-white font-weight-bold f-s-18 b-yellow lang-content">ID</option>
                        </select>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="head-partner">
            <h1 class="c-darker f-s-48 text-center font-weight-bold pt-100">
                Portfolio
            </h1>
        </div>
    </header>
    <img src="./assets/back-bottom.svg" alt="" class="w-100 b-white background-top-partner">

    <main class="mt-100">
        <div class="card-portfolio-group mb-5 text-center row m-auto pb-150 justify-content-center g-16">
            <a href="./detail-portfolio.html" class="card-artikel-portfolio mt-2 mt-md-0 hvr-grow">
                <div class="card card-artikel w-100">
                    <img class="card-img-artikel m-auto h-100" src="./assets/project-1.png" alt="image product">
                    <div class="card-body body-project position-absolute b-0 l-0 r-0 h-100">
                        <h4 class="font-weight-bold f-s-36 c-white">
                            Lifebuoy
                        </h4>
                        <p class="f-s-18 c-white">
                            Content Development & Design
                        </p>
                    </div>
                </div>
            </a>
            <a href="./detail-portfolio.html" class="card-artikel-portfolio pt-md-0 pt-3 hvr-grow">
                <div class="card card-artikel w-100">
                    <img class="card-img-artikel m-auto h-100" src="./assets/project-2.png" alt="image product">
                    <div class="card-body body-project position-absolute b-0 l-0 r-0 h-100">
                        <h4 class="font-weight-bold f-s-36 c-white">
                            Lifebuoy
                        </h4>
                        <p class="f-s-18 c-white">
                            Content Development & Design
                        </p>
                    </div>
                </div>
            </a>
            <a href="./detail-portfolio.html" class="card-artikel-portfolio pt-md-0 pt-3 hvr-grow">
                <div class="card card-artikel position-relative">
                    <img class="card-img-artikel m-auto h-100" src="./assets/project-3.png" alt="image product">
                    <div class="card-body body-project position-absolute b-0 l-0 r-0 h-100">
                        <h4 class="font-weight-bold f-s-36 c-white">
                            Lifebuoy
                        </h4>
                        <p class="f-s-18 c-white">
                            Content Development & Design
                        </p>
                    </div>
                </div>
            </a>
            <a href="./detail-portfolio.html" class="card-artikel-portfolio mt-3 mt-md-0 hvr-grow">
                <div class="card card-artikel">
                    <img class="card-img-artikel m-auto h-100" src="./assets/project-4.png" alt="image product">
                    <div class="card-body body-project position-absolute b-0 l-0 r-0 h-100">
                        <h4 class="font-weight-bold f-s-36 c-white">
                            Lifebuoy
                        </h4>
                        <p class="f-s-18 c-white">
                            Content Development & Design
                        </p>
                    </div>
                </div>
            </a>
            <a href="./detail-portfolio.html" class="card-artikel-portfolio pt-md-0 pt-3 hvr-grow">
                <div class="card card-artikel">
                    <img class="card-img-artikel m-auto h-100" src="./assets/project-9.png" alt="image product">
                    <div class="card-body body-project position-absolute b-0 l-0 r-0 h-100">
                        <h4 class="font-weight-bold f-s-36 c-white">
                            Lifebuoy
                        </h4>
                        <p class="f-s-18 c-white">
                            Content Development & Design
                        </p>
                    </div>
                </div>
            </a>
            <a href="./detail-portfolio.html" class="card-artikel-portfolio pt-md-0 pt-3 hvr-grow">
                <div class="card card-artikel position-relative">
                    <img class="card-img-artikel m-auto h-100" src="./assets/project-6.png" alt="image product">
                    <div class="card-body body-project position-absolute b-0 l-0 r-0 h-100">
                        <h4 class="font-weight-bold f-s-36 c-white">
                            Lifebuoy
                        </h4>
                        <p class="f-s-18 c-white">
                            Content Development & Design
                        </p>
                    </div>
                </div>
            </a>
            <a href="./detail-portfolio.html" class="card-artikel-portfolio mt-3 mt-md-0 hvr-grow">
                <div class="card card-artikel">
                    <img class="card-img-artikel m-auto h-100" src="./assets/project-7.png" alt="image product">
                    <div class="card-body body-project position-absolute b-0 l-0 r-0 h-100">
                        <h4 class="font-weight-bold f-s-36 c-white">
                            Lifebuoy
                        </h4>
                        <p class="f-s-18 c-white">
                            Content Development & Design
                        </p>
                    </div>
                </div>
            </a>
            <a href="./detail-portfolio.html" class="card-artikel-portfolio pt-md-0 pt-3 hvr-grow">
                <div class="card card-artikel">
                    <img class="card-img-artikel m-auto h-100" src="./assets/project-8.png" alt="image product">
                    <div class="card-body body-project position-absolute b-0 l-0 r-0 h-100">
                        <h4 class="font-weight-bold f-s-36 c-white">
                            Lifebuoy
                        </h4>
                        <p class="f-s-18 c-white">
                            Content Development & Design
                        </p>
                    </div>
                </div>
            </a>
            <a href="./detail-portfolio.html" class="card-artikel-portfolio pt-md-0 pt-3 hvr-grow">
                <div class="card card-artikel position-relative">
                    <img class="card-img-artikel m-auto h-100" src="./assets/project-9.png" alt="image product">
                    <div class="card-body body-project position-absolute b-0 l-0 r-0 h-100">
                        <h4 class="font-weight-bold f-s-36 c-white">
                            Lifebuoy
                        </h4>
                        <p class="f-s-18 c-white">
                            Content Development & Design
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </main>

    <footer class="b-brown">
        <div class="container d-block d-lg-flex footer-top-small pt-80 pb-50 row m-auto">
            <div class="logo-group col-12 col-lg-3 d-flex justify-content-center justify-content-lg-start">
                <img src="./assets/image-7.png" alt="logo footer">
            </div>

            <div class="navigation-footer col-12 col-lg-7 text-center mt-5 mt-lg-0">
                <ul class="d-block d-lg-flex h-100 align-items-center justify-content-center g-50">
                    <li class="list-unstyled">
                        <a href="index.html" class="text-decoration-none f-s-16 font-weight-bold text-white">Home</a>
                    </li>
                    <li class="list-unstyled mt-3 mt-lg-0">
                        <a href="portfolio.html"
                            class="text-decoration-none f-s-16 font-weight-bold text-white">Portfolio</a>
                    </li>
                    <li class="list-unstyled mt-3 mt-lg-0">
                        <a href="partner.html"
                            class="text-decoration-none f-s-16 font-weight-bold text-white">Colaborative Partner</a>
                    </li>
                    <li class="list-unstyled mt-3 mt-lg-0">
                        <a href="contact.html"
                            class="text-decoration-none f-s-16 font-weight-bold text-white">Contact</a>
                    </li>
                </ul>
            </div>

            <div
                class="sosial-media-footer justify-content-center col align-self-center justify-content-lg-end d-flex mt-5 mt-lg-0">
                <a href="https://www.facebook.com/dagelan.co/" target="_blank"
                    class="btn soc-med rounded-circle b-yellow d-flex justify-content-center align-items-center">
                    <img src="./assets/facebook.png" alt="facebook icon" width="24px">
                </a>
                <a href="https://www.instagram.com/dagelan/" target="_blank"
                    class="btn soc-med rounded-circle b-yellow d-flex justify-content-center align-items-center">
                    <img src="./assets/instagram.png" alt="instagram icon" width="24px">
                </a>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="text-center f-s-14 text-white pt-3 pb-3 mb-0">
                Copyright &copy 2021 PT. Infia Media Pratama. All Rights Reserved.
            </p>
        </div>
    </footer>

    <!-- script bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <!-- script bootstrap -->
    <script src="./script/script.js"></script>
</body>

</html>